:root {
  --main-bg-color: #282c34;
  --main-text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Home {
    background-color: var(--main-bg-color);
    text-align: center;
    min-width: 100vw;
    min-height: 100vh;
  }

  .navbar{
    position: fixed;
    top: 10px;
    left: 0;
    height: 20px;
    width: 100vw;
    display: flex;
    justify-content: end;
    padding: 0 5vw 0 0;
    z-index: 1000; /* 保证在最上层 */
    align-items: right;
    background: transparent; /* 设置为透明 */
  }
  
  .navbar svg {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
    color: var(--main-text-color); /* 设置颜色 */
    fill: var(--main-text-color); /* 用 fill 设置颜色 */
  }

  .Home-Content {
    background-color: var(--main-bg-color);
    min-height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
    gap: 0;
  }

  .FullScreen-Content {
    min-height: 10vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
    gap: 0;
  }
  
  .fullscreen-enabled .FullScreen-Container {
    /* 全屏后的属性 */
    background: var(--main-bg-color);;
  }

  .FullScreen-Container {
    min-height: 10vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
    gap: 12px;
  }

  .Mechanical-Clock {
    width: 100vw;
    height: 600px;
  }
  
  .Gauge-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .Gauge-Chart {
    margin: 0 120px 0 0;
    padding: 0 0 0 0;
    width: 180px;
    height: 180px;
  }
  
  .Chart-Container {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 95%;
    height: 220px; /* 或者其他固定高度，比如 250px */
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    flex-shrink: 0;
  }

  .Chart-Item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .Chart-Canvas {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  /* body{
    background-image: url(assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
  
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  } */
  
  .clock-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    margin: 12px 0 0 0;
    color: var(--main-text-color);
    font-size: 7rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'SF Mono', Monaco, 'Cascadia Code', 'Roboto Mono', Consolas, 'Courier New', monospace;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .clock{
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
  }
  
  .clock-dot {
    backdrop-filter: blur(5px);
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
    animation: breath-animation 2s infinite ease-in;
  }
  
  .Temp-humi-board {
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr 3fr 1fr; */
    gap: 60px;
  }
  
  .Temp-humi-board-temp {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  
  .Temp-humi-board-out {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .Temp-humi-text {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .Temp-text {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .Temp-text-small {
    font-size: 10px;
    text-align: center;
    margin: auto 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @keyframes breath-animation {
    0% {
      transform: scale(1);
      opacity: 1
    }
    25% {
      transform: scale(1.002); /* Scale up */
      opacity: 1
    }
    50% {
      transform: scale(1.002); /* Scale up */
      opacity: 1
    }
    75% {
      transform: scale(1.002); /* Scale up */
      opacity: 0
    }
    100% {
      transform: scale(1); /* Scale back to original */
      opacity: 1
    }
  }