.sidebar {
    /* background-color: rgb(183, 247, 181); */
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 5vw 0 0;
    align-items: right;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    width: 200px;
    height: 50vh;
    display: flex;
    margin-top: 42px;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    backdrop-filter: blur(60px);
    border-radius: 16px;
  }
  
  .nav-menu.active {
    right: 6px;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 0px 6px;
    list-style: none;
    height: 44px;
    color: var(--main-text-color);
  }
  
  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 6px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #ffffff;
  }
  
  .nav-menu-items {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding: 0;
  }
  
  .navbar-toggle {
    /* background-color: rgb(183, 247, 181); */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 6px;
  }