.sidebar {
    /* background-color: rgb(183, 247, 181); */
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 5vw 0 0;
    align-items: right;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #282c34;
    width: 250px;
    height: 100vh;
    display: flex;
    margin-top: 42px;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    right: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 0px 16px;
    list-style: none;
    height: 60px;
    color: #8B8B8B;
  }
  
  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #ffffff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    /* background-color: rgb(183, 247, 181); */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }