.App {
  background-color: #282c34;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Content {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.Mechanical-Clock {
  width: 100vw;
  height: 600px;
}

.Gauge-Chart {
  width: 400px;
  height: 400px;
}

.Chart {
  display: flex;
  flex-direction: row;
  gap: 10%;
  width: 94%;
  height: 200px;
}

.Temp-Text {
  font-size: 32px;
}

.Chart-Line {
  display: block;
  width: 100vw;
}

/* body{
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
} */

.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}

.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}